########################
# Nitro Runtime Config #
########################

# These NITRO_* names mirror every application runtimeConfig leaf.
NITRO_SERVICE_AUTH_BETTER_AUTH_SECRET="better-auth-secret-12345678901234567890"
NITRO_SERVICE_AUTH_SESSION_EXPIRATION=604800
NITRO_SERVICE_AUTH_SESSION_UPDATE_AGE=86400

NITRO_SERVICE_COOKIE_DOMAIN="localhost"

NITRO_SERVICE_CORS_ALLOW_CREDENTIALS=1
NITRO_SERVICE_CORS_ALLOW_HEADERS="Content-Type,User-Agent,X-CAPTCHA-Response,X-CSRF-Token"
NITRO_SERVICE_CORS_ALLOW_METHODS="GET,POST"
NITRO_SERVICE_CORS_EXPOSE_HEADERS="Content-Length"
NITRO_SERVICE_CORS_MAX_AGE=7200

NITRO_SERVICE_ENVIRONMENT="development"

NITRO_SERVICE_GOOGLE_CLIENT_ID=""
NITRO_SERVICE_GOOGLE_CLIENT_SECRET=""

NITRO_SERVICE_MAILER_ACCOUNT=""

NITRO_SERVICE_RESEND_API_KEY=""

NITRO_SERVICE_STATUS="up"

NITRO_SERVICE_TURNSTILE_BYPASS=1
NITRO_SERVICE_TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"
NITRO_SERVICE_TURNSTILE_SITE_VERIFY="https://challenges.cloudflare.com/turnstile/v0/siteverify"
NITRO_SERVICE_TURNSTILE_SITE_VERIFY_TIMEOUT_MS=5000
NITRO_SERVICE_TURNSTILE_TOKEN_MAX_LENGTH=2048

NITRO_SERVICE_URL_BACKEND="http://localhost:8081"
NITRO_SERVICE_URL_FRONTEND="http://localhost:5174"

NITRO_DATABASE_HOST="localhost"
NITRO_DATABASE_PORT=5432
NITRO_DATABASE_NAME="hyperion"
NITRO_DATABASE_USER="postgres"
NITRO_DATABASE_PASSWORD="12345678"

NITRO_OBJECT_STORAGE_ENDPOINT_URL="https://<ACCOUNT_ID>.r2.cloudflarestorage.com"
NITRO_OBJECT_STORAGE_ACCESS_KEY_ID="<ACCESS_KEY_ID>"
NITRO_OBJECT_STORAGE_SECRET_ACCESS_KEY="<SECRET_ACCESS_KEY>"
NITRO_OBJECT_STORAGE_PRIVATE_BUCKET="hyperion-development-prv"
NITRO_OBJECT_STORAGE_PUBLIC_BUCKET="hyperion-development-pub"
NITRO_OBJECT_STORAGE_PUBLIC_BASE_URL="https://hyperion-development-r2.4thdevision.tech"
NITRO_OBJECT_STORAGE_PRESIGN_EXPIRY=300
